@{
    ViewBag.Title = "Service Page";
    ViewBag.Keywords = "Wit Solution Digital Marketing Services,digital marketing, SEO, PPC, social media marketing,Wit-Solutions,content marketing, email marketing";
    ViewBag.Description = "Discover the realm of digital marketing through our holistic services. From SEO and PPC to social media management and compelling content creation, we empower businesses to flourish in the digital realm. Elevate your online presence and engage your target audience effectively. Contact us today to embark on your digital journey!";
    ViewBag.pageHeading = "Digital Marketing Specialization";
    ViewBag.Content = "Specialization for Success in the Digital Landscape";
    ViewBag.formHeading = "Need help with Digital Marketing Services?";
    ViewBag.paragraph = "Focused expertise tailored to excel in the ever-evolving digital marketing realm.";
}

<!-- Service Start -->


<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/lib/animate/animate.min.css" rel="stylesheet">



<!--Quote Start-->
<partial name="_Quote" />
<!--Quote End-->



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase"></h5>
                    <h1 class="mb-0">Strategic Digital Marketing: Propel Your Company to New Heights</h1>
                </div>
                <p class="mb-4">
                    In today's digital age, mastering the art of digital marketing is paramount for businesses seeking to thrive in a competitive landscape. From leveraging social media platforms to optimizing search engine visibility, digital marketing offers a plethora of opportunities to engage and connect with target audiences like never before. Effective digital marketing strategies encompass a diverse range of tactics, including content marketing, email campaigns, pay-per-click advertising, and search engine optimization. By strategically aligning these techniques with business goals and audience preferences, companies can drive brand awareness, generate leads, and foster customer loyalty. Furthermore, the real-time analytics and data insights provided by digital marketing enable businesses to refine their strategies continually, ensuring maximum impact and return on investment. Embracing the dynamic realm of digital marketing is not merely an option but a necessity for companies striving to remain relevant and competitive in today's fast-paced digital landscape.

                </p>


            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/img/Digital.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">This is Digital Marketing Page</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">Lead Generation</h4>
                    <p class="m-0">Lead Generation is process of attracting and converting potential customers into interested prospects through online channels such as websites, social media, email campaigns, and search engines.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-chart-pie text-white"></i>
                    </div>
                    <h4 class="mb-3">
                        E-Mail Marketing
                    </h4>
                    <p class="m-0">Our Digital Marketing experts design and draft emails consisting of eye-catching phrases and content.The email marketing campaign yields the best results for your business.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-code text-white"></i>
                    </div>
                    <h4 class="mb-3">Content Marketing</h4>
                    <p class="m-0">
                        We deliver 100% unique, plagiarism-free, state-of-the-art content which will speak highly about you among the clients and customers.
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Paid Advertising/ Pay per Click</h4>
                    <p class="m-0">Our PPC strategies developed by our experts works very effectively and offer fast-paced results to your business.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">WhatsApp Marketing</h4>
                    <p class="m-0">WhatsApp is the latest tool in Digital marketing with the highest rate and over 70% of masses using WhatsApp all over the world, choosing this platform will give fantastic growth to your business.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">Call Us For Quote</h3>
                    <p class="text-white mb-3"></p>
                    <h2 class="text-white mb-0">@ConstContent.Number</</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->

<!-- Testimonial End -->
<!-- Vendor Start -->

<!-- Vendor End -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>

}
