@{
    ViewBag.Title = "Service Page";
    ViewBag.Keyword = "";
    ViewBag.Description = "";
    ViewBag.pageHeading = "Graphic Design SERVICES";
    ViewBag.Content = "We Provide Creative Visual Solutions";
    ViewBag.formHeading = "Looking to Build a Graphic Design?";
    ViewBag.paragraph = "Enhance your agility and gain a competitive advantage by consistently evolving your Graphic Design.";
}

<!-- Service Start -->


<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/lib/animate/animate.min.css" rel="stylesheet">



<!--Quote Start-->
<partial name="_Quote" />
<!--Quote End-->



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase"></h5>
                    <h1 class="mb-0">Modern Graphics Hub Delivering Cutting-Edge Design Solutions for Every Industry</h1>
                </div>
                <p class="mb-4">Graphic design software is a collection of different programs that are used to modify visual images to make them more appealing and attractive. Graphic designers, who are highly creative individuals, use their creativity to design visuals, be it packing, corporate branding, online art, printed material, textile design and much more.  Best Graphic Designing Services in Amritsar provided by Wits Solution, where we improvise hi-tech graphic design service to suit your organizational needs and requirement. We provide ideal, unique and state-of-the-art graphic designs that will help you strengthen your corporate image across the Globe. Graphic Designing Company in Chandigarh i.e. InfoWiz that provides out-of-the-box graphic design to give your website a completely eye-catching look. We provide creative and ethnic solutions ideally suited to your business needs and requirements.</p>


            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/img/graphic.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">This is Graphic Page Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">Unique Brand Identity</h4>
                    <p class="m-0"> The main reason for this is the attractive designing which attracts the user towards the products.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-chart-pie text-white"></i>
                    </div>
                    <h4 class="mb-3">
                        Better Communication
                    </h4>
                    <p class="m-0">Sometimes graphic design say more than words can express.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-code text-white"></i>
                    </div>
                    <h4 class="mb-3">Logo Design</h4>
                    <p class="m-0">
                        Developing impactful logos that symbolize brand identity and market presence.
                    </p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Website Design</h4>
                    <p class="m-0">Designing websites that are visually compelling and easy to navigate.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">Banner Design</h4>
                    <p class="m-0">Creating custom banners that highlight brand identity and engage viewers.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">Call Us For Quote</h3>
                    <p class="text-white mb-3"></p>
                    <h2 class="text-white mb-0">@ConstContent.Number</</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->

<!-- Testimonial End -->
<!-- Vendor Start -->

<!-- Vendor End -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>

}

