@model ClientQueryVM;
@{
    ViewBag.Title = "Contact-Us";
    ViewBag.Keywords = "contact Wit-Solutions,Software Development Company,Wits-Solutions location,It company contact details,contact-us";
    ViewBag.Description = "Get in touch with our software development company for innovative IT services and solutions. Contact us today for inquiries, support, and more information about our software development services. We're here to help you achieve your tech goals.";
}

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
            <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">@ConstContent.Number</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Email to get free quote</h5>
                        <h4 class="text-primary mb-0">@ConstContent.MyEmail</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Visit our office</h5>
                        <h4 class="text-primary mb-0">Amritsar, Punjab</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form method="post"
                    asp-controller="Contact" asp-action="Contactus">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" asp-for="Name" class="form-control border-0 bg-light px-4" placeholder="Your Name" style="height: 55px;">
                            
                        </div>
                        <div class="col-md-6">
                            <input type="email" asp-for="email" class="form-control border-0 bg-light px-4" placeholder="Your Email" style="height: 55px;">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input type="text" asp-for="subject" class="form-control border-0 bg-light px-4" placeholder="Subject" style="height: 55px;">

                        </div>
                        <div class="col-12">
                        <textarea class="form-control border-0 bg-light px-4 py-3" asp-for="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d849.0215416912562!2d74.92954264705779!3d31.65886225393431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391962e30b043f41%3A0x10af441d22166ffa!2sVerka%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1716552691539!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}